$color-white: #fff;
$color-black: #000;
$color-blue: #0075ff;
$color-text: #3e3e3e;
$color-subtitle: #9fadc2;

$small-icon-size: 24px;
$big-icon-size: 32px;

$big-screen-y-padding: 104px;
$big-screen-x-padding: 120px;
$small-screen-y-padding: 64px;
$small-screen-x-padding: 20px;
